<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Go to login</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/auth/register">Go to register</a>
  </li>
</ul>

<hr />

<ul>
  <li>
    <a routerLink="/heroes/list">Go to heroes list</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/add">Go to add</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/edit/:id">Go to edit</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/search">Go to search</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/:id">Go to hero</a>
  </li>
</ul>
