<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Go to login</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/auth/register">Go to register</a>
  </li>
</ul>

<hr />

<ul>
  <li>
    <a routerLink="/heroes/list">Go to heroes list</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/add">Go to add</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/edit/:id">Go to edit</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/search">Go to search</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/:id">Go to hero</a>
  </li>
</ul>

<P
  >The most common type, a production honeypot is a type of honeypot that’s used
  to collect cybersecurity-related information within a business’s or
  organization’s production network. Once deployed, the production honeypot will
  wait for an attack. If an attack occurs, it may collect data such as
  originating Internet Protocol (IP) addresses, traffic frequency and volume,
  directories accessories and more. Production honeypots are popular among
  businesses because they are easy to use while revealing essential information
  about cyber threats and vulnerabilities facing their networks. With that said,
  production honeypots generally don’t reveal as much information as their
  research counterparts.</P
>
